# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Documents
*.odt
*.doc
*.docx
*.pdf

# Tex Files
*.tex
*.aux
*.log
*.out
*.toc

# Compressd Packages
*.zip
*.rar
*.tar.gz
*.7z

# Image File
*.png
*.jpg
*.jpeg
*.eps
